html {
  font-size: 100%;
}

body {
  font-family: "M PLUS Rounded 1c" ,sans-serif;
  color: black;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

body {
  border: blue 47px dotted;
  background: repeating-linear-gradient(-42deg, #f9ffd9 0, #f9ffd9 200px, #ffe2fd 290px, #ffe2fd 302px);
}

@media (max-width: 600px) {
  body {
    border: blue 20px dotted;
  }
}

#header-and-main-wrapper {
  border-right: lightcoral 30px dotted;
  border-left: red 30px solid;
}

@media (max-width: 600px) {
  #header-and-main-wrapper {
    border-right: lightcoral 8px dotted;
    border-left: red 10px solid;
  }
}

#header {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 30px;
}

#header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 600px) {
  #header .nav-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#header .nav-menu li {
  list-style: none;
  padding: 15px;
}

@media (max-width: 600px) {
  #header .nav-menu li {
    padding: 5px;
  }
}

#header .nav-menu .menu-button {
  font-size: 20px;
  color: brown;
  background-color: #f7faff;
  border: 10px inherit solid;
  border-radius: 50px / 50px;
}

@media (max-width: 600px) {
  #header .nav-menu .menu-button {
    font-size: 15px;
  }
}

#header .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 30px 10px 30px 10px;
}

@media (max-width: 600px) {
  #header .logo-wrapper {
    padding: 10px;
  }
}

#header .logo-wrapper .shop-info h1 {
  font-size: 40px;
  font-style: italic;
  letter-spacing: 5px;
  padding-top: 40px;
  padding-right: 40px;
}

@media (max-width: 600px) {
  #header .logo-wrapper .shop-info h1 {
    font-size: 20px;
    padding: 0;
    text-align: center;
  }
}

#header .logo-wrapper .shop-info h1 span {
  font-size: 80px;
  font-weight: bold;
  text-shadow: -4px 3px 0 white, -8px 6px 0 gainsboro;
  color: red;
  padding: 0 10px 10px 0px;
}

@media (max-width: 600px) {
  #header .logo-wrapper .shop-info h1 span {
    font-size: 45px;
    padding: 0;
  }
}

#header .logo-wrapper img {
  width: 100px;
  height: 100px;
  border: 1px transparent solid;
  border-radius: 20px / 20px;
}

#header .title {
  font-size: 20px;
  font-weight: bold;
  font-family: serif;
  text-align: center;
  padding: 10px 20px;
}

@media (max-width: 600px) {
  #header .title {
    padding: 10px;
    font-size: 12px;
  }
}

#main-content {
  margin: 10px auto 0px auto;
}

#main-content .main-content-wrapper {
  max-width: 1000px;
  background-color: #e3e6cf;
  padding: 0px 20px;
  border-right: 20px groove orange;
}

#main-content #main-img {
  margin: 30px 20px;
}

#main-content #main-img .slider li img {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 600px) {
  #main-content #main-img .slider li img {
    height: 100px;
    width: 100px;
  }
}

#main-content #news, #main-content #access {
  margin-top: 100px;
  padding: 0 80px;
}

@media (max-width: 600px) {
  #main-content #news, #main-content #access {
    margin: 0 auto;
    padding: 12px;
  }
}

#main-content #news h2, #main-content #access h2 {
  font-size: 35px;
  padding-bottom: 5px;
  border-bottom: solid 1px;
}

@media (max-width: 600px) {
  #main-content #news h2, #main-content #access h2 {
    font-size: 25px;
  }
}

#main-content #news ul {
  padding: 10px;
}

#main-content #news ul li {
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 600px) {
  #main-content #news ul li {
    font-size: 15px;
    line-height: 15px;
  }
}

#main-content #access iframe {
  padding: 15px;
  width: 1000px;
  height: 600px;
}

@media (max-width: 600px) {
  #main-content #access iframe {
    width: 250px;
    height: 200px;
  }
}

#main-content #menu-food, #main-content #menu-drink {
  margin-top: 10px;
  padding: 40px 80px 40px 80px;
  text-align: center;
}

@media (max-width: 600px) {
  #main-content #menu-food, #main-content #menu-drink {
    padding: 10px;
  }
}

#main-content #menu-food h2, #main-content #menu-drink h2 {
  font-size: 35px;
  padding-bottom: 5px;
  border-bottom: solid 1px;
}

@media (max-width: 600px) {
  #main-content #menu-food h2, #main-content #menu-drink h2 {
    font-size: 30px;
  }
}

#main-content #menu-food .menu-list, #main-content #menu-drink .menu-list {
  padding: 30px 0;
}

#main-content #menu-food .menu-list li, #main-content #menu-drink .menu-list li {
  font-size: 25px;
  color: black;
  letter-spacing: 1.3px;
  line-height: 40px;
}

@media (max-width: 600px) {
  #main-content #menu-food .menu-list li, #main-content #menu-drink .menu-list li {
    font-size: 15px;
  }
}

#main-content #menu-food .menu-list span, #main-content #menu-food .menu-list .menu-option, #main-content #menu-drink .menu-list span, #main-content #menu-drink .menu-list .menu-option {
  font-size: 21px;
  color: #7a7575;
}

@media (max-width: 600px) {
  #main-content #menu-food .menu-list span, #main-content #menu-food .menu-list .menu-option, #main-content #menu-drink .menu-list span, #main-content #menu-drink .menu-list .menu-option {
    font-size: 12px;
  }
}

#footer {
  background-color: orange;
  padding: 20px 20px;
  border-top: 3px  #d6f528 solid;
}

@media (max-width: 600px) {
  #footer {
    padding: 10px;
  }
}

#footer small {
  font-size: 30px;
}

@media (max-width: 600px) {
  #footer small {
    font-size: 20px;
  }
}

#footer address {
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
}

@media (max-width: 600px) {
  #footer address {
    font-size: 12px;
    line-height: 12px;
  }
}
/*# sourceMappingURL=common.css.map */