html {
  font-size: 100%;
}

body {
  font-family: "M PLUS Rounded 1c" ,sans-serif;
  color: black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

body {
  border: blue 50px dotted;
  background: repeating-linear-gradient(-20deg, #e3e6cf 0, #e3e6cf 90px, #f7faff 90px, #f7faff 95px, #faf25779 95px, #faf25779 105px);
}

#header-and-main-wrapper {
  border-right: lightcoral 30px dotted;
  border-left: red 30px solid;
}

#header {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 30px;
}

#header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px 0;
}

#header .nav-menu li {
  list-style: none;
  padding: 15px;
}

#header .nav-menu .menu-list {
  color: brown;
  background-color: #f7faff;
  border: 10px inherit solid;
  border-radius: 50px / 50px;
}

#header .logo-wrapper {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
  border: 0.5px #f7faff dotted;
  border-radius: 20px / 20px;
}

#header .logo-wrapper img {
  border: 1px #fcf453 solid;
  border-radius: 20px / 20px;
}

#header .shop-info {
  text-align: left;
  height: 160px;
  padding-right: 0px;
}

#header .shop-info h1 {
  font-size: 40px;
  font-style: italic;
  padding-top: 40px;
  padding-right: 80px;
}

#header .shop-info h1 span {
  background-color: #FFF74E;
  font-size: 80px;
  font-weight: bold;
  text-shadow: -4px 3px 0 white, -8px 6px 0 gainsboro;
  color: red;
  padding: 0 10px 10px 0px;
  border: 1px #fcf453 solid;
  border-radius: 20px / 20px;
}

#header .shop-copy {
  font-size: 20px;
  font-weight: bold;
  font-family: serif;
  text-align: center;
  padding: 20px;
}

#main-content {
  margin: 10px auto 0px auto;
}

#main-content .main-content-wrapper {
  max-width: 1000px;
  background-color: #e3e6cf;
  padding: 0px 20px;
  border-right: 20px groove orange;
}

#main-content #main-img {
  margin-top: 25px;
}

#main-content #main-img .slider li img {
  height: 800px;
  width: 1000px;
  margin: 0 auto;
}

#main-content #news {
  margin-top: 30px;
  padding: 0 20px;
}

#main-content #news h2 {
  font-size: 35px;
  padding-bottom: 2px;
  border-bottom: solid 1px;
}

#main-content #news ul {
  padding: 10px;
}

#main-content #news ul li {
  font-size: 20px;
  line-height: 30px;
}

#main-content #access {
  margin-top: 30px;
  padding: 0 20px;
}

#main-content #access h2 {
  font-size: 35px;
  padding-bottom: 2px;
  border-bottom: solid 1px;
}

#main-content #access iframe {
  text-align: center;
  padding: 30px;
}

#footer {
  background-color: orange;
  padding: 15px 10px;
}

#footer small {
  font-size: 30px;
}

#footer address {
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
}
/*# sourceMappingURL=common.css.map */