@charset "UTF-8";

// 共通部分
html {
    font-size: 100%;
}
body {
    font-family: "M PLUS Rounded 1c" ,sans-serif;
    color: black;    
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
ul {
    list-style: none;
}
// .wrapper {
//     max-width: 1000px;
//     background-color: #EEE9D3;
//     padding: 30px;
// }

body {
    border: blue 50px dotted;
    background: repeating-linear-gradient(
        -20deg,#e3e6cf 0,#e3e6cf 90px,#f7f4ba 90px, #f7f4ba 95px,
        #fcf453 95px, #fcf453 105px,
    );
}
#header-and-main-wrapper {
    border-right: lightcoral 30px dotted;
    border-left: red 50px solid;
}

// header
#header {
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 30px;

    .nav-menu {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        padding: 10px 0;
        li {
            list-style: none;
            padding: 15px;
        }
        .menu-list {
            color: brown;
            background-color: #f7faff;
            // background: linear-gradient(#f2f5ff, brown);
            border: 10px inherit solid;
            border-radius: 20px / 20px;
        }
    }
    .logo-wrapper {
        // background-color: #fcf453;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        // height: 160px;
        padding: 10px;
        border: 0.5px #f7faff dotted;
        border-radius: 20px / 20px;
        
        img {
            border: 1px #fcf453 solid;
            border-radius: 20px / 20px;
        }
    }

    .shop-info {
        text-align: left;
        height: 160px;
        padding-right: 0px;

        h1 {
            // background: #f7f4ba;
            font-size: 40px;
            font-style: italic;
            // color: white;
            padding-top: 40px;
            padding-right: 80px;
            // border-top: 6px double #000;
            // border-bottom: 6px double #000;
            
            span {
                background-color: #FFF74E;
                font-size: 80px;
                font-weight: bold;
                text-shadow: -4px 3px 0 white, -8px 6px 0 gainsboro;
                color: red;
                padding: 0 10px 10px 0px;
                border: 1px #fcf453 solid;
                border-radius: 20px / 20px;
            }
        }

    }
    .shop-copy {
        font: {
        size: 20px;
        weight: bold;
        family: serif;
        }
        text-align: center;
        padding: 20px;
    }

}


// main
#main-content {
    margin: 10px auto 0px auto;
    
    .main-content-wrapper {
        max-width: 1000px;
        background-color: #e3e6cf;
        padding: 0px 20px;
        border-right: 20px groove orange;
    }
    
    // image
    #main-img img { 
        border: 1px inherit solid;
        border-radius: 100px / 100px;
        text-align: center;
        // background-color: darkolivegreen;
    }

    // slider
    // #slider {}

    // News
    #news {
        margin-top: 30px;
        padding: 0 20px; 
        
        h2 {
            font-size: 35px;
            padding-bottom: 2px;
            border-bottom: solid 1px;
        }
        ul {
            padding: 10px;
            li {
            font-size: 20px;
            line-height: 30px;
            }
        }
    }
    
    // Access
    #access {
        margin-top: 30px;
        padding: 0 20px; 
        
        h2 {
            font-size: 35px;
            padding-bottom: 2px;
            border-bottom: solid 1px;
        }
        iframe {
            // margin: 0 auto;
            text-align: center;
            padding: 30px;
        }
    }
}


// footer
#footer {
    // display: flex;
    // justify-content: space-around;
    background-color: orange;
    padding: 15px 10px;
    
    small {
        font-size: 30px;
    }
    address {
        font-size: 20px;
        line-height: 30px;
        padding: 10px;
    }
}