@charset "UTF-8";

// 共通部分
html {
    font-size: 100%;
}
body {
    font-family: sans-serif;
    color: black;
    
    // line-height: 1.6px;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
ul {
    list-style: none;
}
.wrapper {
    max-width: 800px;
    background-color: #EEE9D3;
    border: blue 100px dotted;

}
body {
    background-color: #FFF74E;
    background: linear-gradient(
	-60deg,	// ストライプの角度
	#FFF74E 25%,	// 1つ目の色の終点
	#f4e2de 25%,	// 2つ目の色の始点
	#f4e2de 50%,	// 2つ目の色の終点
	#FFF74E 50%,	// 3つ目の色の始点
	#FFF74E 75%,	// 3つ目の色の終点
	#f4e2de 75%,	// 4つ目の色の始点
	#f4e2de	// 4つ目の色の終点
    );
}

// header
#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 30px auto;
    background: linear-gradient(#05FBFF, #1E00FF);
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0;
    // list-style: none;
}
.nav-menu li {
    margin-left: 50px;
    padding: 10px;
    background-color: #FFFDFF;
    border: #EAB75C thick ridge;
}

// main
#main-content {
    margin: 40px auto;
}
h1 {
    background-color: #FFF74E;
    font-size: 50px;
    font-style: italic;
    text-shadow: -4px 3px 0 FFF74E, -8px 6px 0 gainsboro;

    text-align: center;
    padding: 10px;
    border-top: 6px double #000;
    border-bottom: 6px double #000;
    
}
h1 span {
    color: red;
}
.main-img {
    // margin: 0 auto;
}
.main-img img {
    // width: 800px;
    // height: 500px;
    text-align: center;
    // background-color: darkolivegreen;
}

// News
#news {
    margin-top: 30px;
}
#news h2 {
    border-bottom: solid 1px;
}

// Access
#access {
    margin-top: 30px;
}
#access h2 {
    border-bottom: solid 1px;
}
#access iframe {
    margin: 0 auto;
    text-align: center;
}

// footer
#footer {
    text-align: center;
    background-color: orange;
}